body {
    background: url("/WebServerMNG/images/login_bg.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 40%;
    left: 40%;
}
td {
    padding-right: 50px;
    padding-bottom: 30px;
    font-family: Tahoma, sans-serif;
    font-size: 20pt;
    text-align: left;
}
.input {
    padding: 6px;
    border: 5px solid black;
    width: 250px;
    font-size: 13pt;
    font-family: Tahoma, sans-serif;
}
.msgBlock {
    background: black;
    color: white;
    padding: 10px;
}
.send {
    font-size:30px; 
    width: 150px;
}
.sendTd {
    padding-top: 60px;
}

.error {
    font-size: 20px;
    text-align: left;
    font-family: Tahoma, sans-serif;
    background: red;
    color: white;
    padding: 5px;
}
input[type='submit']{
    margin: 5px;
    padding:10px;
    font-size:16pt;
    font-family:Tahoma, sans-serif;
    background:black;
    color:white;
    text-decoration:none;
    border: none;
}
input[type='submit']:hover{
    padding:10px;
    background:deepskyblue;
}
a, a:visited, a:active{
    font-size:16pt;
    font-family:Tahoma, sans-serif;
    color:deeppink;
    text-decoration:none;
    border-bottom: 4px solid deeppink;
}
a:hover{
    color:deepskyblue;
    border-bottom: 4px solid deepskyblue;
}
