body {
    background: url('/WebServerMNG/images/maze_bg_pattern.png') repeat;
    background-position:center;
    background-attachment: fixed;
    position: absolute;
    top: 30%;
    left: 35%;
}
td {
    padding-right: 50px;
    padding-bottom: 30px;
    font-family: Tahoma, sans-serif;
    font-size: 16pt;
    text-align: left;
}
.iconTd {
    padding-right: 0px;
    padding-bottom: 30px;
    text-align: left;   
}
.input {
    padding: 5px; 
    width: 300px;
    font-size: 18px
}
.select {
    height: 34px; 
}
.send {
    font-size:30px; 
    width: 150px;
}
.sendTd {
    padding-top: 60px;
    text-align: center;
}
.msg {
    font-size: 20px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    background: red;
    color: white;
    padding: 5px;
}
.container {
    background: white;
    padding: 20px;
    border: 5px solid black;
}
input[type='submit'], input[type='reset']{
    padding:10px;
    font-size:16pt;
    font-family:Tahoma, sans-serif;
    background:black;
    color:white;
    text-decoration:none;
    border:none;
}
input[type='submit']:hover, input[type='reset']:hover{
    padding:10px;
    background:deepskyblue;
}
